.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;

    .form-group{
        display: flex;
        flex-direction: column;

        .inputContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;            
        
            
        }
        
        .alert{
            align-self: flex-end;
            color: grey;
        }
    }
}

.inputValid{
    border: 1px solid green;
}

.inputError{
    border: 1px solid red;
}